@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

html {
    scroll-behavior: smooth;
}
html.dark body{
    background: #1a1a1a;
}
.container {
    min-height: calc(100vh - 64px);
    overflow: hidden;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.border {
    border: 2px solid red;
}
.bg-green-primary {
    background: #70a73c;
}
.spinner {
    border: 4px solid #fff;
    border-bottom: 4px solid transparent;
    animation: spinner 0.7s infinite linear;
}
@keyframes spinner {
    100% {
        transform: rotateZ(360deg);
    }
}

