input[type="submit"] {
    background-color: #0cbaba !important;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%) !important;
    color: #fff;
    width: 12rem;
    font-weight: bold;
    height: 3rem;
    cursor: pointer;
} 